body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    background: #34495e;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #1abc9c;
}

/* CONTENT */
.content {
    margin-left: 270px;
    padding: 20px;
    width: 100%;
}